[user]
	name = Youssef
	email = youssefelgazar2012@gmail.com
[core]
	editor = nano
	excludesfile = ~/.gitignore
[web]
	browser = google-chrome
[credential "https://github.com"]
	username = Nikuya-Youssef
